extends templete.pug

block content    
    .row
        .col.text-center.bg-info.mx-3.my-3.shadow.border.border-dark
            h2.text-light.font-weight-bold #{month} #{year} - kategoria : #{category}.  
    .row
        .col.border.border-dark.ml-3.mr-2
            .row
                .col
                    .row
                        .col.text-center.bg-info.border-bottom.border-dark
                            h4.text-light.font-weight-bold Sumy ilości i kosztów w danej kategorii i miesiącu
                    .row
                        .col
                            h5.text-center.my-2 Aby posortować kliknij na wybraną nazwę kolumny.

            .row
                .col
                    table.table.mt-2
                        thead.bg-info
                            tr
                                th(scope='col')
                                    button(type="submit", disabled).btn.btn-info.btn-block #
                                form(action=path, method="get")
                                    th.text-center(scope='col')                                        
                                        input(type='hidden', name="sortLeft", value="_id")
                                        input(type='hidden', name="incDecLeft", value=1)
                                        button(type="submit").btn.btn-info.btn-block Nazwa  
                                form(action=path, method="get")
                                    th.text-center(scope='col')                                        
                                        input(type='hidden', name="sortLeft", value="totalQt")
                                        input(type='hidden', name="incDecLeft", value=-1)
                                        button(type="submit").btn.btn-info.btn-block Suma ilośći                                
                                form(action=path, method="get")
                                    th.text-center(scope='col')                                        
                                        input(type='hidden', name="sortLeft", value="total")
                                        input(type='hidden', name="incDecLeft", value=-1)
                                        button(type="submit").btn.btn-info.btn-block Suma wydatków           
                                //- th.text-center(scope='col') Suma wydatków
                        tbody
                        each item, index in all.items
                            tr
                            th.text-center(scope='row') #{index+1}
                                td #{item._id.item}
                                td.text-center #{item.totalQt} szt.
                                td.text-center #{item.total.toFixed(2)} zł.                    


        .col.border.border-dark.mr-3.ml-2
            .row
                .col
                    .row
                        .col.text-center.bg-info.border-bottom.border-dark
                            h4.text-light.font-weight-bold Poszczególne zakupy w danej kategorii i miesiącu
                    .row
                        .col
                            h5.text-center.my-2 Aby posortować kliknij na wybraną nazwę kolumny.

            .row
                .col
                    table.table
                        thead.bg-info
                            tr                            
                                th(scope='col')
                                    button(type="submit", disabled).btn.btn-info.btn-block #                                
                                form(action=path, method="get")
                                    th.text-center(scope='col')                                        
                                        input(type='hidden', name="sortRight", value="_id.all")
                                        input(type='hidden', name="incDecRight", value=1)
                                        button(type="submit").btn.btn-info.btn-block Nazwa  
                                th.text-center(scope='col')
                                    button(type="submit", disabled).btn.btn-info.btn-block Ilość
                                form(action=path, method="get")
                                    th.text-center(scope='col')                                        
                                        input(type='hidden', name="sortRight", value="_id.price")
                                        input(type='hidden', name="incDecRight", value=-1)
                                        button(type="submit").btn.btn-info.btn-block Cena  
                                form(action=path, method="get")
                                    th.text-center(scope='col')                                        
                                        input(type='hidden', name="sortRight", value="_id.day")
                                        input(type='hidden', name="incDecRight", value=incSwitch)
                                        button(type="submit").btn.btn-info.btn-block Dzień zakupu                             
                                
                        tbody
                        each item, index in all.all
                            tr
                            th.text-center(scope='row') #{index+1}
                                td #{item._id.all}
                                td.text-center #{item._id.qty} szt.
                                td.text-center #{item._id.price.toFixed(2)} zł.
                                td.text-center #{item._id.day} #{month}                    
