extends templete.pug

block content 
  .row.ml-2.mr-2        
    each month, item in all  
      - var allTotal = 0; 
      .col-12.col-md-6.col-sm-6.col-lg-4.col-xl-3
        .card.mt-2.shadow
          h4.card-header.text-center.bg-info.text-light #{mths[month._id.month-1]} #{month._id.year} 
          .card-body.pb-1
            each category, cat in month.total
              //- each item in cat 
              - allTotal += category.totalSum
              .row                                 
                .col                  
                  a(href="/categories/"+(month._id.year)+"/"+(month._id.month-1)+"/"+(category.category))
                    h5.card-text #{category.category}: 
                .col-auto
                  h5 #{category.totalSum.toFixed(2)} zł                
            h4.border.text-center.pt-2.pb-2.border-info Wydane: #{allTotal.toFixed(2)} zł
          
  if added
    h4.mt-5 Ostanio dodane #{added.item}

    
      
      